{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container py-5 create-marathon-container">

    <div class="create-marathon-card">
      <h2 class="create-marathon-title">🎬 Create marathon</h2>

      <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="mb-3">
          {{ form.title.label_tag }}
          {{ form.title }}
        </div>

        <div class="mb-3">
          {{ form.description.label_tag }}
          {{ form.description }}
        </div>

        <div class="mb-3">
          {{ form.start_date.label_tag }}
          {{ form.start_date }}
        </div>

        <div class="mb-3">
          {{ form.total_duration.label_tag }}
          {{ form.total_duration }}
        </div>

        <hr class="my-4">

        <label class="fw-semibold mb-2">🎞 Add movies</label>

        <input type="text"
               id="movieSearch"
               class="form-control mb-2"
               placeholder="Type movie title...">

        <div id="searchResults" class="list-group movie-search-results"></div>
        <h6 class="fw-semibold mt-4">Selected movies</h6>
        <ul id="selectedMovies" class="list-group selected-movies"></ul>
        <div id="movieInputs"></div>

        <button class="btn btn-primary btn-lg w-100 mt-4">
          Create marathon
        </button>
      </form>
    </div>

  </div>

  <script src="{% static 'js/marathon_movie_search.js' %}"></script>
{% endblock %}
